* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
}

.header {
  background: #333;
  height: 3.5rem;
  padding-top: 1rem;
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
}
.header .part .logo {
  padding-right: 57rem;
  height: 40px;
  padding-bottom: 0.5rem;
}
.header .profil {
  padding-bottom: 0.5rem;
}
.header .touch {
  padding-right: 4rem;
  color: silver;
}
.header .touch .bnt {
  letter-spacing: 2px;
}
.header .touch .bnt .join {
  text-decoration: none;
  color: aliceblue;
}
.header .touch .join:hover {
  color: #e1b12c;
}

.firstpage {
  background-image: url(/img/fond1.jpg);
  background-repeat: no-repeat;
  background-size: 100rem;
  height: 35rem;
  box-shadow: 2px 4px 10px black;
  margin-bottom: 2rem;
}
.firstpage strong {
  color: #e1b12c;
}
.firstpage .txthome {
  text-align: center;
  color: aliceblue;
  border-radius: 20px solid #333;
}
.firstpage .txthome .myname {
  padding-top: 5rem;
  letter-spacing: 5px;
  font-size: 3.5rem;
  text-decoration: overline;
}
.firstpage .txthome .interet {
  margin-top: 5rem;
  font-size: 1.4rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.ambitions {
  color: #333;
  margin-left: 2rem;
  font-size: 2rem;
}

.image {
  margin-top: 2rem;
  font-size: 0.8rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.image .image1 {
  background: #333;
  height: 350px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-left: 2rem;
  border-radius: 3rem;
  width: 310px;
  margin-bottom: 2rem;
}
.image .image1 .img1 {
  height: 200px;
  width: 310px;
}
.image .image1 .p1 {
  height: 200px;
  width: 310px;
  padding: 1rem;
  color: aliceblue;
}
.image .image2 {
  border-radius: 3rem;
  color: aliceblue;
  background: #333;
  height: 350px;
  width: 500px;
  display: grid;
  margin-left: 2rem;
  grid-template-rows: 1fr 1fr;
  margin-right: 3rem;
  width: 310px;
  margin-right: 6rem;
}
.image .image2 .img2 {
  height: 200px;
  width: 310px;
}
.image .image2 .p2 {
  height: 200px;
  width: 310px;
  margin-right: 4rem;
  padding: 1rem;
}

.font {
  background: linear-gradient(#333, gray);
  height: 100px;
  padding-top: 2rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  margin-bottom: 4rem;
  margin-top: 2rem;
}
.font .certifications {
  border: aliceblue 3px solid;
  box-shadow: 10px 10px 4px #333;
  height: 100px;
  width: 300px;
  margin-left: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-image: url(/img/fond2.jpg);
  background-size: 100%;
  color: azure;
}
.font .certifications .guide {
  padding-top: 0.1rem;
  padding-left: 0.5rem;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}
.font .certifications .container {
  padding-top: 1rem;
  padding-left: 1rem;
  letter-spacing: 2px;
  font-size: 0.65rem;
}
.font .certifications .container .html:hover {
  color: #e1b12c;
}
.font .certifications .container .py:hover {
  color: #e1b12c;
}
.font .certifications .container .docker:hover {
  color: #e1b12c;
}
.font .certifications .container .html {
  color: gray;
}
.font .certifications .container .py {
  color: gray;
}
.font .certifications .container .docker {
  color: gray;
}

.contact {
  margin-top: 8rem;
  padding: 2rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg-dark {
  background: #333;
  color: #e1b12c;
}

/*# sourceMappingURL=mobile.css.map */
