* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
}
.header {
  background: #333;
  height: 3.5rem;
  padding-top: 1rem;
  display: flex;
  justify-content: flex-end;
  .part {
    .logo {
      padding-right: 57rem;
      height: 40px;
      padding-bottom: 0.5rem;
    }
  }
  .profil {
    padding-bottom: 0.5rem;
  }
  .touch {
    padding-right: 4rem;
    color: silver;

    .bnt {
      letter-spacing: 2px;
      .join {
        text-decoration: none;
        color: aliceblue;
      }
    }
    .join:hover {
      color: #e1b12c;
    }
  }
}
.firstpage {
  background-image: url(/img/fond1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 35rem;
  box-shadow: 2px 4px 10px black;
  margin-bottom: 4.5rem;
  strong {
    color: #e1b12c;
  }
  .txthome {
    text-align: center;
    color: aliceblue;
    border-radius: 20px solid #333;

    .myname {
      padding-top: 5rem;
      letter-spacing: 5px;
      font-size: 3rem;
      text-decoration: overline;
    }
    .interet {
      margin-top: 5rem;
      font-size: 2rem;
      padding-left: 3rem;
      padding-right: 3rem;
      font-family: "Times New Roman", Times, serif;
    }
  }
}
.ambitions {
  color: #333;
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  padding-left: 2rem;
}
.image {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  font-family: "Times New Roman", Times, serif;
  font-size: 0.8rem;
  .image1 {
    margin-bottom: 4.5rem;
    background: #333;
    height: 420px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-left: 6rem;
    border-radius: 3rem;
    .img1 {
      height: 300px;
      width: 500px;
    }
    .p1 {
      height: 200px;
      width: 500px;
      padding: 1rem;
      color: aliceblue;
    }
  }
  .image2 {
    border-radius: 3rem;
    color: aliceblue;
    background: #333;
    height: 420px;
    width: 500px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-right: 3rem;
    margin-right: 6rem;
    .img2 {
      height: 300px;
      width: 500px;
    }
    .p2 {
      height: 200px;
      width: 500px;
      margin-right: 4rem;
      padding: 1rem;
    }
  }
}
.font {
  background: linear-gradient(#333, gray);
  height: 200px;
  padding-top: 2rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  margin-bottom: 4rem;
  margin-top: 2rem;
  .certifications {
    border: aliceblue 3px solid;
    box-shadow: 10px 10px 4px #333;
    height: 150px;
    width: 500px;
    margin-left: 27rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-image: url(/img/fond2.jpg);
    background-size: 100%;
    color: azure;
    .guide {
      padding-top: 1rem;
      padding-left: 0.5rem;
      font-size: medium;
      letter-spacing: 0.5px;
    }
    .container {
      font-family: "Times New Roman", Times, serif;
      padding-top: 1rem;
      padding-left: 1rem;
      letter-spacing: 2px;
      .html:hover {
        color: #e1b12c;
      }
      .py:hover {
        color: #e1b12c;
      }
      .docker:hover {
        color: #e1b12c;
      }
      .html {
        text-decoration: none;
        color: aliceblue;
      }
      .py {
        text-decoration: none;
        color: aliceblue;
      }
      .docker {
        text-decoration: none;
        color: aliceblue;
      }
    }
  }
}
.contact {
  margin-top: 5rem;
  padding: 2rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-form input {
  background: #333;
  border: 0;
  border-bottom: 1px solid #555;
  padding: 1rem;
  font-size: 1.3rem;
  color: white;
  outline: 0;
  margin-bottom: 1rem;
}

.contact-form button {
  display: block;
  margin: 3rem auto;
  padding: 1rem 1rem;
  border: 0;
  border-radius: 30px;
  background: #e1b12c;
  color: white;
  font-weight: 700;
  font-size: 1.3rem;
  cursor: pointer;
}

.contact-form button:hover {
  background: white;
  color: #333;
}
.bg-dark {
  background: #333;
  color: white;
}
